.free-agents {
    display: inline-block;
    padding: 8px;
}

.free-agents-header {
    text-align: center;
    width: 100%;
    font-weight: bold;
    font-size: 22px;
    padding: 8px;
}

.free-agent-row {
    margin: 8px;
}